.cardContainer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 4px;
  width: 200px;
  border: 1px solid grey;
  padding: 18px;

  & .cardHeading {
    font-size: 1.25rem;
  }

  & .cardBody {
    font-size: 0.75rem;
  }
}
